body{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
#descricao{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 10%;

}
